@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch";
}
body {
  background-color: #110038;
}

button {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.windowTitle {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  box-shadow: 0 1px 0 0 #110038;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  .windowText {
    padding: 0.2vw;
    font-family: "Chakra Petch";
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0;
  }
  .closeWindow {
    height: 15.5px;
    margin: 0 1% 0 0;
    &:after {
      content: url("../assets/buttonClose.svg");
    }
  }
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  width: 80%;
  margin: 0 10% 0 10%;
  justify-content: space-between;
  padding-top: 2.4rem;
  .brand {
    a {
      &::after {
        content: url("../assets/gifOF_logo_dark.png");
      }
    }
  }
  .navButton {
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    font-family: "Chakra Petch";
    font-size: 16px;
    color: white;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    &:hover {
      color: white;
      outline: 0.2px dotted #110038;
      outline-offset: -5px;
      filter: brightness(0.9);
    }
  }
  .groupButtonsNav {
    width: 45%;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    .themeButton {
      display: flex;
      &:hover {
        .navButton {
          color: white;
          outline: 0.2px dotted #110038;
          outline-offset: -5px;
          filter: brightness(0.9);
        }
      }
      .themesList {
        transform: translate(0, 2.2rem);
        position: absolute;
        display: none;
        flex-flow: column nowrap;
        width: 11.2rem;
        .themeList {
          background: #e6e6e6;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          li {
            list-style: none;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .selectedTheme {
              margin: 3%;
              padding: 3% 0 3% 0;
              width: 90%;
              background: #cccccc;
              border: 1px solid #808080;
              box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
              font-size: 16px;
              color: #110038;
              letter-spacing: 0;
              line-height: 22px;
            }
            .activeTheme {
              color: white;
              background: #2e32fb;
              border: 1px solid rgba(51, 53, 143, 0.2);
              box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
            }
          }
        }
      }

      .close {
        padding: 0 0.8rem 0 0.8rem;
        border-left: none;
      }
    }
    .navLink {
      text-decoration: none;
      font-family: "Chakra Petch";
      align-self: center;
      color: white;
      &:hover {
        outline: 0.2px dotted white;
        outline-offset: 5px;
        filter: brightness(0.9);
      }
      &:active {
        color: #cca6c9;
      }
    }
  }
}

.searchBar {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  width: 80%;
  margin: 0 10% 0 10%;
  padding-top: 2.4rem;
  .windowTitle {
    width: 100%;
  }
  .bodyBar {
    background: #b4b4b4;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
    width: 100%;
    #userSearch {
      font-family: "Chakra Petch";
      background: #ffffff;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
      width: 86%;
      margin: 0.7rem 1rem 0.7rem 1rem;
      padding: 0.8rem 0 0.8rem 1rem;
    }
    .searchButton {
      background: #b4b4b4;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
      width: 9%;
      padding: 0.6% 0.8% 0.6% 0%;
      ///TEXT
      font-size: 16px;
      color: #8f8f8f;
      letter-spacing: 0;
      line-height: 18px;
    }
    .buttonActive {
      color: white;
      background: #ee3efe;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    }
  }
  .searchOptions {
    position: absolute;
    width: 80%;
    transform: translate(0, 5.5rem);
    background: #b4b4b4;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
    display: none;
    flex-flow: column nowrap;
    .optionSearch {
      width: 88%;
      margin: 0.4rem 1rem 0.4rem 1rem;
      padding: 0.3rem 0 0.3rem 1rem;
      background: #cccccc;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
      font-family: "Chakra Petch";
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px;
    }
    .selectedSearch {
      background: #e6e6e6;
      border: 1px solid #110038;
    }
  }
}

#tagButtons {
  margin: 0.5rem 0 0 0;
  .tagButton {
    margin: 0 0.5rem 0 0;
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    //mio
    color: white;
    padding: 0.5vw 0.7vw 0.5vw 0.7vw;
  }
}

.results {
  width: 80%;
  margin: 0 10% 0 10%;
  padding-top: 2.4rem;
  .suggest {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    margin: 0 0 15px 0;
    .suggestText {
      margin: 0.4%;
    }
  }
  .tendences {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    margin: 0 0 15px 0;
    .tendencesText {
      margin: 0.4%;
    }
  }
  .searchResults {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    margin: 0 0 15px 0;
    display: flex;
    flex-flow: row wrap;
    .searchText {
      margin: 0.4%;
    }
  }
  .misGifsResults {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    margin: 0 0 15px 0;
    .misGifsText {
      margin: 0.4%;
    }
  }
}

.gifsSpace {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 1vw;
  width: 100%;
  margin: 0 0 35px 0;
}



.imageContainer {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: center;
  // grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
  height: 300px;
  //sketch
  //width: 23%;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding: 0.2vw;
  &:hover {
    .imageGif {
      //sketch
      outline: 0.2px dotted #110038;
      outline-offset: -5px;
      filter: brightness(0.9);
    }
    .buttonMore {
      outline: 0.2px dotted #110038;
      outline-offset: -5px;
      filter: brightness(0.9);
    }
  }
  .imageGif {
    width: 100%;
    height: 260px;
    // align-self: center;
    // width: 18.5vw;
    // height: 16vw;
  }
  .buttonMore {
    //Sketch
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    //mio
    color: white;
    padding: 0.5vw 0.7vw 0.5vw 0.7vw;
    transform: translate(1vw, -4.5vw);
  }
  .tagVar {
    //Skectch
    transform: translate(0vw, -3.5vw);
    box-shadow: none;
  }
}

#suggestGifs {
  .imageContainer {
    height: 290px;
    &:hover {
    }
    .windowTitle {
    }
    .buttonMore {
    }
    .tagVar {
      display: none;
    }
  }
}

#misGifs {
  .imageContainer {
    height: 264px;
    &:hover {
      .tagVar {
        display: flex;
      }
    }
    .windowTitle {
      display: none;
    }
    .buttonMore {
      display: none;
    }
    .tagVar {
      transform: translate(0vw, -1.88vw);
    }
  }
}

#searchArea {
  display: none;
  .imageContainer {
    height: 264px;
    &:hover {
      .tagVar {
        display: flex;
      }
    }
    .windowTitle {
      display: none;
    }
    .buttonMore {
      display: none;
    }
    .tagVar {
      transform: translate(0vw, -1.88vw);
    }
  }
}

#tendencesGifs {
  .imageContainer {
    height: 264px;
    &:hover {
      .tagVar {
        display: flex;
      }
    }
    .windowTitle {
      display: none;
    }
    .buttonMore {
      display: none;
    }
    .tagVar {
      transform: translate(0vw, -1.88vw);
    }
  }
}

.outline {
  outline: 0.2px dotted #110038;
  outline-offset: -5px;
  filter: brightness(0.9);
}

.bold {
  font-weight: bolder;
}

.confirmGif {
  display: flex;
  flex-flow: row wrap;
  //sketch
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 48%;
  margin: 5% 26% 0 26%;
  .windowTitle {
    box-shadow: none;
    width: 100%;
  }
  .windowImg {
    width: 10%;
    padding: 4% 3% 3% 3%;
  }
  .descriptionGif {
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    width: 90%;
    .itemsList {
      list-style-type: none;
      .item {
        margin: 0 0 1.6% 0;
      }
      .main {
        margin: 4% 0 0 0;
        font-size: 16px;
      }
    }
  }
  .actions {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    font-size: 24px;
    margin: 2% 7% 5% 0;
    .cancelGif {
      //sketch
      width: 10vw;
      height: 6vh;

      background: #fff4fd;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
    .beginGif {
      //padding: 0.8% 2.7% 0.8% 2.7%;
      //sketch
      margin: 0 0 0 2%;
      width: 10vw;
      height: 6vh;
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
  }
}

.line-through {
  text-decoration: line-through;
}

.recordGifWindow {
  display: none;
  flex-flow: row wrap;
  //sketch
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 60%;
  margin: 5% 20% 0 20%;
  padding: 0 0 1.5vw 0;
  .windowTitle {
    box-shadow: none;
    width: 100%;
  }
  .gifs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    .showVideo {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 1vw 1vw 1.5vw 1vw;
      width: 98%;
      #myVideo {
        width: 100%;
        height: 25vw;
      }
      #videoGuardado {
        display: none;
        width: 59%;
        height: 25vw;
      }
      .uploading {
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 59%;
        height: 25vw;

        .loadingImg {
          width: 10%;
        }
        .litText {
          font-size: 12px;
          color: rgba(17, 0, 56, 0.64);
          letter-spacing: 0;
          text-align: center;
          line-height: 14px;
        }
      }
    }
    .videoActions {
      display: none;
      flex-flow: column nowrap;
      width: 65%;
      .succesGif {
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
      }
      .gifButtons {
        width: 20vw;
        height: 6vh;
        margin: 0.5vw 0 0.5vw 0;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        //sketch
        background: #fff4fd;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      }
    }
  }
  .actions {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 2vw 0 2vw;
    .text {
      padding: 0.5vw 2vw 0.5vw 2vw;
    }
    .icon {
      padding: 0 1vw 0 1vw;
    }
    .captureGif {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      .startGif {
        color: white;
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
      }
    }
    .recordingGif {
      width: 100%;
      display: none;
      flex-flow: row nowrap;
      justify-content: space-between;
      .capButton {
        display: flex;
        .text {
          padding: 0.5vw 2vw 0.5vw 2vw;
        }
        .icon {
          padding: 0 1vw 0 1vw;
        }
        .endGif {
          color: white;
          background: #ff6161;
          border: 1px solid #110038;
          box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
        }
      }

      #timer {
        width: 9vw;
        height: 2vw;
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
        text-align: center;
      }
    }
    .cancelAction {
      width: 100%;
      display: none;
      justify-content: flex-end;
      .cancelUpload {
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        width: 12vw;
        height: 2vw;
        background: #fff4fd;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      }
      .text {
        padding: 0.5vw 2vw 0.5vw 2vw;
      }
      .icon {
        padding: 0 1vw 0 1vw;
      }
    }
    .finishAction {
      width: 100%;
      display: none;
      justify-content: flex-end;
      .finishGif {
        width: 12vw;
        height: 2vw;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        background: #f7c9f3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      }
    }
    .forwardGif {
      display: none;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;

      .progressVar {
        display: flex;
        #timerFinish {
          width: 9vw;
          height: 2vw;
          margin: 0 1vw 0 0;
          background: #ffffff;
          border: 1px solid #979797;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          text-align: center;
        }
        #forward {
          width: 2vw;
          height: 2vw;
          background: #f7c9f3;
          border: 1px solid #110038;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        }
        .forwardView {
          width: 100px;
          background: #b4b4b4;
          border: 1px solid #979797;
          box-shadow: inset 2px 2px 0 0 #e6e6e6, inset -2px -2px 0 0 #000000;
        }
      }
      .groupButtons {
        display: flex;
        .repeatGif {
          margin: 0 1vw 0 0;
          font-size: 16px;
          color: white;
          letter-spacing: 0;
          text-align: center;
          line-height: 18px;
          width: 12vw;
          height: 2vw;
          background: #110038;
          border: 1px solid #b4b4b4;
          box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
          &:hover {
            color: white;
            outline: 0.2px dotted white;
            outline-offset: -5px;
            filter: brightness(0.9);
          }
        }
        .uploadGif {
          width: 12vw;
          height: 2vw;
          font-size: 16px;
          color: #110038;
          letter-spacing: 0;
          text-align: center;
          line-height: 18px;
          background: #f7c9f3;
          border: 1px solid #110038;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  #userSearch {
    font-family: "Chakra Petch";
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    width: 80%;
    margin: 0.7rem 1rem 0.7rem 1rem;
    padding: 0.8rem 0 0.8rem 1rem;
  }
  .gifsSpace {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 1vw;
    width: 100%;
    margin: 0 0 35px 0;
  }
}
