@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Chakra Petch";
}

button {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.windowTitle {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windowTitle .windowText {
  padding: 0.2vw;
  font-family: "Chakra Petch";
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
}

.windowTitle .closeWindow {
  height: 15.5px;
  margin: 0 1% 0 0;
}

.windowTitle .closeWindow:after {
  content: url("../assets/buttonClose.svg");
}

#tagButtons {
  margin: 0.5rem 0 0 0;
}

#tagButtons .tagButton {
  margin: 0 0.5rem 0 0;
  background: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  color: white;
  padding: 0.5vw 0.7vw 0.5vw 0.7vw;
}

.outline {
  color: #110038;
  outline: 0.2px dotted #110038;
  outline-offset: -5px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.bold {
  font-weight: bolder;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-item-align: center;
      align-self: center;
  width: 80%;
  margin: 0 10% 0 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.4rem;
}

nav .brand a::after {
  content: url("../assets/gifOF_logo.png");
}

nav .navButton {
  padding: 0.5rem 1.8rem 0.5rem 1.8rem;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch";
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

nav .navButton:hover {
  color: #110038;
  outline: 0.2px dotted #110038;
  outline-offset: -5px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

nav .groupButtonsNav {
  width: 45%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .groupButtonsNav .themeButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .groupButtonsNav .themeButton:hover .navButton {
  color: #110038;
  outline: 0.2px dotted #110038;
  outline-offset: -5px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

nav .groupButtonsNav .themeButton .themesList {
  -webkit-transform: translate(0, 2.2rem);
          transform: translate(0, 2.2rem);
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 11.2rem;
}

nav .groupButtonsNav .themeButton .themesList .themeList {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

nav .groupButtonsNav .themeButton .themesList .themeList li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .groupButtonsNav .themeButton .themesList .themeList li .selectedTheme {
  margin: 3%;
  padding: 3% 0 3% 0;
  width: 90%;
  background: #cccccc;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

nav .groupButtonsNav .themeButton .themesList .themeList li .activeTheme {
  margin: 3%;
  width: 90%;
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

nav .groupButtonsNav .themeButton .close {
  padding: 0 0.8rem 0 0.8rem;
  border-left: none;
}

nav .groupButtonsNav .navLink {
  text-decoration: none;
  font-family: "Chakra Petch";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .groupButtonsNav .navLink:hover {
  color: #110038;
  outline: 0.2px dotted #110038;
  outline-offset: 5px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

nav .groupButtonsNav .navLink:active {
  color: #cca6c9;
}

.searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-item-align: center;
      align-self: center;
  width: 80%;
  margin: 0 10% 0 10%;
  padding-top: 2.4rem;
}

.searchBar .windowTitle {
  width: 100%;
}

.searchBar .bodyBar {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 100%;
}

.searchBar .bodyBar #userSearch {
  font-family: "Chakra Petch";
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  width: 86%;
  margin: 0.7rem 1rem 0.7rem 1rem;
  padding: 0.8rem 0 0.8rem 1rem;
}

.searchBar .bodyBar .searchButton {
  background: #e6e6e6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  width: 9%;
  padding: 0.6% 0.8% 0.6% 0%;
  font-family: "Chakra Petch";
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 18px;
}

.searchBar .bodyBar .buttonActive {
  color: #110038;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.searchBar .searchOptions {
  position: absolute;
  width: 80%;
  -webkit-transform: translate(0, 5.5rem);
          transform: translate(0, 5.5rem);
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.searchBar .searchOptions .optionSearch {
  width: 88%;
  margin: 0.4rem 1rem 0.4rem 1rem;
  padding: 0.3rem 0 0.3rem 1rem;
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch";
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.searchBar .searchOptions .selectedSearch {
  background: #e6e6e6;
  border: 1px solid #110038;
}

.results {
  width: 80%;
  margin: 0 10% 0 10%;
  padding-top: 2.4rem;
}

.results .suggest {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  margin: 0 0 15px 0;
}

.results .suggest .suggestText {
  margin: 0.4%;
}

.results .tendences {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  margin: 0 0 15px 0;
}

.results .tendences .tendencesText {
  margin: 0.4%;
}

.results .searchResults {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.results .searchResults .searchText {
  margin: 0.4%;
}

.results .misGifsResults {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  margin: 0 0 15px 0;
}

.results .misGifsResults .misGifsText {
  margin: 0.4%;
}

.gifsSpace {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (24%)[4];
      grid-template-columns: repeat(4, 24%);
  grid-gap: 1vw;
  width: 100%;
  margin: 0 0 35px 0;
}

.imageContainer {
  height: 300px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding: 0.2vw;
}

.imageContainer:hover .imageGif {
  outline: 0.2px dotted #110038;
  outline-offset: -5px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.imageContainer:hover .buttonMore {
  outline: 0.2px dotted #110038;
  outline-offset: -5px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.imageContainer .imageGif {
  width: 100%;
  height: 260px;
}

.imageContainer .buttonMore {
  background: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  color: white;
  padding: 0.5vw 0.7vw 0.5vw 0.7vw;
  -webkit-transform: translate(1vw, -4.5vw);
          transform: translate(1vw, -4.5vw);
}

.imageContainer .tagVar {
  -webkit-transform: translate(0vw, -3.5vw);
          transform: translate(0vw, -3.5vw);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#suggestGifs .imageContainer {
  height: 290px;
}

#suggestGifs .imageContainer .tagVar {
  display: none;
}

#misGifs .imageContainer {
  height: 264px;
}

#misGifs .imageContainer:hover .tagVar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#misGifs .imageContainer .windowTitle {
  display: none;
}

#misGifs .imageContainer .buttonMore {
  display: none;
}

#misGifs .imageContainer .tagVar {
  -webkit-transform: translate(0vw, -1.88vw);
          transform: translate(0vw, -1.88vw);
}

#searchArea {
  display: none;
}

#searchArea .imageContainer {
  height: 264px;
}

#searchArea .imageContainer:hover .tagVar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#searchArea .imageContainer .windowTitle {
  display: none;
}

#searchArea .imageContainer .buttonMore {
  display: none;
}

#searchArea .imageContainer .tagVar {
  -webkit-transform: translate(0vw, -1.88vw);
          transform: translate(0vw, -1.88vw);
}

#tendencesGifs .imageContainer {
  height: 264px;
}

#tendencesGifs .imageContainer:hover .tagVar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tendencesGifs .imageContainer .windowTitle {
  display: none;
}

#tendencesGifs .imageContainer .buttonMore {
  display: none;
}

#tendencesGifs .imageContainer .tagVar {
  -webkit-transform: translate(0vw, -1.88vw);
          transform: translate(0vw, -1.88vw);
}

.confirmGif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 48%;
  margin: 5% 26% 0 26%;
}

.confirmGif .windowTitle {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

.confirmGif .windowImg {
  width: 10%;
  padding: 4% 3% 3% 3%;
}

.confirmGif .descriptionGif {
  font-family: ChakraPetch-Bold;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  width: 90%;
}

.confirmGif .descriptionGif .itemsList {
  list-style-type: none;
}

.confirmGif .descriptionGif .itemsList .item {
  margin: 0 0 1.6% 0;
}

.confirmGif .descriptionGif .itemsList .main {
  margin: 4% 0 0 0;
  font-size: 16px;
}

.confirmGif .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 24px;
  margin: 2% 7% 5% 0;
}

.confirmGif .actions .cancelGif {
  width: 10vw;
  height: 6vh;
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.confirmGif .actions .beginGif {
  margin: 0 0 0 2%;
  width: 10vw;
  height: 6vh;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.recordGifWindow {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 60%;
  margin: 5% 20% 0 20%;
  padding: 0 0 1.5vw 0;
}

.recordGifWindow .windowTitle {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

.recordGifWindow .gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.recordGifWindow .gifs .showVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1vw 1vw 1.5vw 1vw;
  width: 98%;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.recordGifWindow .gifs .showVideo #myVideo {
  width: 100%;
  height: 25vw;
}

.recordGifWindow .gifs .showVideo #videoGuardado {
  display: none;
  width: 59%;
  height: 25vw;
}

.recordGifWindow .gifs .showVideo .uploading {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 59%;
  height: 25vw;
}

.recordGifWindow .gifs .showVideo .uploading .loadingImg {
  width: 10%;
}

.recordGifWindow .gifs .showVideo .uploading .litText {
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}

.recordGifWindow .gifs .videoActions {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 65%;
}

.recordGifWindow .gifs .videoActions .succesGif {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.recordGifWindow .gifs .videoActions .gifButtons {
  width: 20vw;
  height: 6vh;
  margin: 0.5vw 0 0.5vw 0;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.recordGifWindow .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 2vw 0 2vw;
}

.recordGifWindow .actions .text {
  padding: 0.5vw 2vw 0.5vw 2vw;
}

.recordGifWindow .actions .icon {
  padding: 0 1vw 0 1vw;
}

.recordGifWindow .actions .captureGif {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recordGifWindow .actions .captureGif .startGif {
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.recordGifWindow .actions .recordingGif {
  width: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recordGifWindow .actions .recordingGif .capButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recordGifWindow .actions .recordingGif .capButton .text {
  padding: 0 3vw 0 3vw;
  color: white;
}

.recordGifWindow .actions .recordingGif .capButton .endGif {
  background: #ff6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}

.recordGifWindow .actions .recordingGif #timer {
  width: 9vw;
  height: 2vw;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  text-align: center;
}

.recordGifWindow .actions .cancelAction {
  width: 100%;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recordGifWindow .actions .cancelAction .cancelUpload {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  width: 12vw;
  height: 2vw;
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.recordGifWindow .actions .finishAction {
  width: 100%;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recordGifWindow .actions .finishAction .finishGif {
  width: 12vw;
  height: 2vw;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.recordGifWindow .actions .forwardGif {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.recordGifWindow .actions .forwardGif .progressVar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recordGifWindow .actions .forwardGif .progressVar #timerFinish {
  width: 9vw;
  height: 2vw;
  margin: 0 1vw 0 0;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  text-align: center;
}

.recordGifWindow .actions .forwardGif .progressVar #forward {
  width: 2vw;
  height: 2vw;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.recordGifWindow .actions .forwardGif .progressVar .forwardView {
  width: 100px;
  background: #b4b4b4;
  border: 1px solid #979797;
  -webkit-box-shadow: inset 2px 2px 0 0 #e6e6e6, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #e6e6e6, inset -2px -2px 0 0 #000000;
}

.recordGifWindow .actions .forwardGif .groupButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recordGifWindow .actions .forwardGif .groupButtons .repeatGif {
  margin: 0 1vw 0 0;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  width: 12vw;
  height: 2vw;
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.recordGifWindow .actions .forwardGif .groupButtons .repeatGif:hover {
  color: #110038;
  outline: 0.2px dotted #110038;
  outline-offset: -5px;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.recordGifWindow .actions .forwardGif .groupButtons .uploadGif {
  width: 12vw;
  height: 2vw;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

@media only screen and (max-width: 780px) {
  #userSearch {
    font-family: "Chakra Petch";
    background: #ffffff;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    width: 80%;
    margin: 0.7rem 1rem 0.7rem 1rem;
    padding: 0.8rem 0 0.8rem 1rem;
  }
  .gifsSpace {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (48%)[2];
        grid-template-columns: repeat(2, 48%);
    grid-gap: 1vw;
    width: 100%;
    margin: 0 0 35px 0;
  }
}
/*# sourceMappingURL=styleDay.css.map */